// Base
@import "base/variables"; // Colours
@import "base/animations";

// Components
@import "components/head";
@import "components/body";
@import "components/ground";

body {
  background-color: $navy;
  width: 100%;
  height: 100%;
}


#monster-container {
  margin: 10% 30%;
}
