// Base
@import "base/variables"; // Colours
@import "base/animations";

// Components
@import "components/monster";
@import "components/ground";

body {
  background-color: $navy;
  width: 100%;
  height: 100%;
}
