.body {
  display: inline-block;
  position: absolute;
  width: 600px;
  height: 280px;
  border-radius: 14%;
  background-color: $brown-light;
  z-index: 20;

  .windows {
    display: block;

    .window {
      display: block;
      position: absolute;
      width: 70px;
      height: 110px;
      background-color: $navy;
      border-radius: 40%;
    }
    .window-1 {
      display: block;
      position: relative;
      left: 40px;
      top: 80px;
    }
    .window-2 {
      display: block;
      position: relative;
      left: 130px;
      top: 80px;
    }
    .window-3 {
      display: block;
      position: relative;
      left: 220px;
      top: 80px;
    }
    .window-4 {
      display: block;
      position: relative;
      left: 310px;
      top: 80px;
    }
    .window-5 {
      display: block;
      position: relative;
      left: 400px;
      top: 80px;
    }
    .window-6 {
      display: block;
      position: relative;
      left: 490px;
      top: 80px;
    }
  }//@end windows

  .tail {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 80px;
    border-radius: 50% 50%;
    background-color: $brown-light;
    z-index: 19;
    margin: 0 0;
    top: 100px;
    right: 120px;
  } //@end tail
}//@end body
