.head-container {
  position: relative;
  display: inline-block;
  left: 570px;
  top: 70px;
  z-index: 1;

  .face {
    position: absolute;
    z-index: 11;

    .glow {
      position: absolute;
      display: block;
      border-top: 100px solid transparent;
      border-bottom: 100px solid $yellow-light;
      border-left: 800px solid transparent;
      opacity: 0.4;
      transform: rotate(24deg);
      top: -10px;
      left: 40px;
      z-index: 3;
    }

    .eye {
      position: relative;
      width: 50px;
      height: 40px;
      border-radius: 50% 50% 50% 50% / 30% 70%;
      background-color: $yellow;
      left: 90px;
      top: 50px;
      animation: blink 3s infinite;

      .pupil {
        position: relative;
        width: 10px;
        height: 24px;
        border-radius: 50% 50%;
        background-color: $black-light;
        margin-left: 60%;
        top: 28%;
        transform: rotate(14deg);
        z-index: 5;
      } // @end pupil
    } //@end eye
  }// @end face

  .head {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: $brown-light;
    z-index: 9;
    box-shadow: inset -14px -10px $brown;
    transform: rotate(220deg);
  }//@end head

  .smile {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 60px solid $white;
    transform: rotate(-10deg);
    left: 1px;
    bottom: -30px;
    z-index: 11;
  }// @end smile
} // @end head-container
